[Unit]
Description=Dusseldorf API Server
After=network.target mongod.service

[Service]
# /etc/systemd/system/dusseldorf-api-server.service

User=root
Group=root

# Path to your project's root directory
WorkingDirectory=/root/dusseldorf/api/src/api

# Path to the .env file
EnvironmentFile=/root/dusseldorf/.env

# Command to start the service, using the virtual environment's python
ExecStart=/root/dusseldorf/venv/bin/python main.py

Restart=always

[Install]
WantedBy=multi-user.target
